#sliders {
    width: 75%;
}

#sliders li {
    margin-bottom: 10px;
}

#sliders div {
    margin-bottom: 5px;
}
ul{
	list-style-type: none;
}
p{
	display: inline-block;
}
h2{
	display: inline-block;
}
.first{
	margin-left: 250px;
}
.second{
	margin-left: 167px;
}
.third{
	margin-left: 35px;
}
.forth{
	margin-left: 281px;
}
.fifth{
	margin-left: 434px;
}
.slidecontainer{
	border-width: 5px;
	border-style: solid;
}