#sliders {
    width: 75%;
}

#sliders li {
    margin-bottom: 10px;
}

#sliders div {
    margin-bottom: 5px;
}
ul{
	list-style-type: none;
}
p{
	display: inline-block;
}
h1{
	text-align: center;
}
h2{
	display: inline-block;
}
.first{
	margin-left: 250px;
}
.second{
	margin-left: 167px;
}
.third{
	margin-left: 35px;
}
.forth{
	margin-left: 281px;
}
.fifth{
	margin-left: 434px;
}
.slidecontainer{
	
}
.clickable{
	margin-left: 1245px;
	margin-top: 330px;
	position: absolute;
	width: 100px;
	height: 50px;
	font-size: 18px;
}
.words{
	margin-left: 340px;
	font-weight: 700;
}
.wrong{
	color = red;
}
#earnedtotal{
	position: absolute;
	margin-left: 1200px;
	margin-top: 100px;
}
#money{
	position: absolute;
	margin-left: 1227px;
	margin-top: 150px;
	color: green;
	font-size: 40px;
}